{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи {% endblock title %}

{% block content %}

<a href="{% url "students_add" %}" class="btn btn-primary">Додати Групу </a>
           <table class="table table-hover table scriped">
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}

             <thead>
               <tr>
                 <th><a href="{% url "groups" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1 {% endif %}">
                  №
                  {% if order_by == 'id' and reverse != '1' %}&uarr;
                  {% elif order_by == 'id' and reverse == '1' %}&darr;
                  {% endif%}
                 </th>
                 <th><a href="{% url "groups" %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1 {% endif %}">
                  Назва
                  {% if order_by == 'title' and reverse != '1' %}&uarr;
                  {% elif order_by == 'title' and reverse == '1' %}&darr;
                  {% endif%}
                  {% if order_by == '' %}&uarr;
                  {%endif%}
                 </th>
                 <th><a href="{% url "groups" %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1 {% endif %}">
                  Староста
                  {% if order_by == 'leader' and reverse != '1' %}&uarr;
                  {% elif order_by == 'leader' and reverse == '1' %}&darr;
                  {% endif %}
                 </th>
                 <th> &nbsp;&nbsp;&nbsp;Дії </th>
               </tr>
             </thead>
             <tbody>
               {% for leader in leaders %}
               <tr>
                 <td>
                  {%if order_by == 'id'%}{{leader.id}}
                     {% else %}
                     {{forloop.counter}}
                     {%endif%}
                 </td>
                 <td> {{ leader.title }} </td>
                 <td> {{ leader.leader }} </td>
                    
                  
                 <td>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle"
                              type="button" data-toggle="dropdown">Дія
                         <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/journal/1">Відвідування</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "groups_edit" leader.id %}">Редагувати</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "groups_delete" leader.id %}">Видалити</a></li>
                      </ul>
                    </div> 
                 </td>
                   
               
               </tr>
               {% endfor %}
 {% endwith %}             
             </tbody>
           <table>
              
             <ul class="pagination">
              <nav>
                  <ul class="pagination">
                    <!-- Перейти до першої сторінки <<         -->
                    <li><a href="{% url "groups" %}?page={{start_page}}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a></li>
                    {%for i in storinka%}
                     <li {% ifequal i page %}class="active" {%endifequal%}>
                        <a href="{% url "groups" %}?page={{ i }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ i }}</a>
                     </li>
                    {%endfor%}
                           
                  <!--   # Перейти до останньої сторінки >>           -->
                    <li><a href="{% url "groups" %}?page={{ end_page }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&raquo;</a></li>
                  </ul>
              </nav>
   {% endblock content %}     