/*global styles*/
h1,h2,h3,h4,h5,h6 {
        font-weight:bold;
}

.alert {
        margin-top: 10px;
        }
#footer {
        border-top: 1px solid red #dddddd;
        padding-top:10px;
        

/*group selector*/
#group-selector       {
        padding-top: 80px;
        background-color: red;
}

#group-selector select {
        margin-top: 100px;
        width: 85%;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        height: 30px;
        line-height: 30px;
        color: #555555;
}   
#month{
        text-align: center;
}
select {
        margin-top: 100px;
}
#my     {
        margin-top: 100px;
        margin-left: 50px;
        width: 69px;
        height: 20px;
        }
p {
        font-size: small;
        background-color: red;
        border-bottom-style: solid 1px;
        font-weight:bold;
}