/*global styles*/
h1,h2,h3,h4,h5,h6 {
        font-weight:bold;
}

#my     {
        width: 180px;
        height: 32px;
        margin-left: 80px;
        text-align: center;
        }
#text-area{
        width: 180px;
        margin-left: 209px;
        margin-top: 10px;
}

#buttonpanel{
        margin-top: 10px;
        margin-left: 90px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 90px;
        background-color: #dddddd;
}
#photo {
       
        background-color:transparent;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: inherit;
        padding-top: inherit;
        
        border-color: white;
        
}